<section class="row">
	<nav class="col-md-12">
		<div class="left-container">
			<span id="tutu-logo-helper"></span>
			<a href="/">
				<img src="/images/tutu-s.png" id="tutu-logo"></img>
			</a>
		</div>
		<div class="right-container">
			<span class="left-buffer"></span>
			<i id="dropdown-btn" class="glyphicon glyphicon-th"></i>
			<span class="left-buffer"></span>
			<a href="/logout">
				<button id="sign-in-btn" class="btn btn-primary">Sign Out</button>
			</a>
		</div>
	</nav>
</section>
