extends layout

block content
  if (!username)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (username)
    script(type="text/javascript").
      window.username = '#{username}';
      window.rootPath = '/users/' + encodeURIComponent(username) + '/todos/';
      document.write("<base href='" + rootPath + "' />");
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js')
    script(src='/javascripts/app.js')
    include app